.btn {
  --_background-color: transparent;
  --_background-color-hover: transparent;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  // aspect-ratio: 1;
  padding-inline: 2.5em;
  padding-block: 1em;
  border: 1px solid transparent;
  border-radius: var(--br-pill);
  background-color: var(--_background-color);
  font-weight: var(--fw-semi-bold);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--_background-color-hover);
  }

  &--primary {
    --_background-color: var(--clr-primary-300);
    --_background-color-hover: hsl(from var(--_background-color) h s 90%);

    color: var(--clr-neutral-100);
  }

  &[disabled] {
    --_background-color: var(--clr-primary-300);
    --_background-color-hover: var(--clr-primary-300);

    opacity: var(--opacity-disabled);
    cursor: not-allowed;
  }
}
