.btn {
  --_padding: 0em;
  --_background-color: transparent;
  --_color: var(--clr-primary-900);
  --_font-size: inherit;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  padding: var(--_padding);
  border: 1px solid transparent;
  border-radius: var(--br-circle);
  background-color: var(--_background-color);
  color: var(--_color);
  font-family: var(--ff-accent);
  font-size: var(--_font-size);
  font-weight: var(--fw-regular);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  transition: box-shadow var(--ts-slow), color var(--ts-fast);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    box-shadow: 0px 0px 0px 90px hsl(from var(--_background-color) h s l / 10%);
    color: hsl(from var(--_color) h s l / 50%);
  }

  &__primary {
    --_background-color: var(--clr-neutral-100);
    --_color: var(--clr-primary-900);
  }

  &__md {
    --_padding: 1.4em;
    --_font-size: var(--fs-400);
  }

  &__lg {
    --_padding: 1.6em;
    --_font-size: var(--fs-600);
  }

  // &[disabled] {
  //   --_background-color: var(--clr-primary-300);
  //   --_background-color-hover: var(--clr-primary-300);

  //   opacity: var(--opacity-disabled);
  //   cursor: not-allowed;
  // }
}
