@use "@/styles/1-tools/media-queries" as *;

:root {
  --app-min-width: 320px;
  --app-max-width: 1440px;

  --wrapper-max-width: 1120px;
  // --wrapper-max-width: 80rem;
  --wrapper-padding-inline: var(--sp-500);
  --wrapper-current-padding: var(--wrapper-padding-inline);

  --navbar-min-height: 96px;
  --navbar-height: var(--navbar-min-height);

  // --section-padding-block: 5rem;
  // --sidebar-width: 300px;
  // --gutter-spacing: 20px;
  // --section-margin-bottom: 30px;
  // --container-border-radius: 8px;

  @include above(sm) {
    --wrapper-padding-inline: var(--sp-700);
  }
}
