:root {
  --app-min-width: 320px;
  --app-max-width: 1440px;

  --wrapper-max-width: 1110px;
  // --wrapper-max-width: 80rem;
  --wrapper-padding-inline: var(--sp-500);

  // --section-padding-block: 5rem;
  // --sidebar-width: 300px;
  // --gutter-spacing: 20px;
  // --section-margin-bottom: 30px;
  // --container-border-radius: 8px;
}
