@use "@/styles/1-tools/media-queries" as *;
@use "@/styles/1-tools/text-preset" as *;

.header {
  // position: fixed;
  position: absolute;
  left: 0;
  right: 0;
  @include text-preset-8;

  @include above(md) {
    // margin-block-start: var(--sp-700);
    padding-block-start: var(--sp-700);
  }
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
}

.logo {
  flex-shrink: 0;
  display: flex;
  margin-inline: var(--sp-700);
  transition: transform var(--ts-fast);

  &:hover,
  &:focus-visible {
    transform: scale(var(--hover-scale-factor));
  }

  &:active {
    transform: scale(var(--active-scale-factor));
  }
}

.decorationLine {
  z-index: 1;
  transform: translateX(var(--sp-600));
}

.nav {
  display: flex;
  justify-content: end;
  padding-inline-start: calc(var(--sp-800) * 2);
  padding-inline-end: var(--sp-800);
  width: 100%;
  min-height: var(--navbar-min-height);
  background-color: hsl(0 0% 100% / 5%);
  backdrop-filter: blur(80px);

  @include above(md) {
    flex-shrink: 0;
    min-width: 50%;
    width: auto;
  }
}

.list {
  display: flex;
  // flex-wrap: wrap;
  gap: var(--sp-700);
}

.listItem {
  display: flex;
}
