@use "@/styles/2-generic/animations";

.paginationDot {
  --_dot-color: var(--clr-neutral-100);
  --_size: 45px;
  --_background-color: hsl(from var(--_dot-color) h s l / 20%);

  display: inline-block;
  padding: 5px;
  border-radius: var(--br-circle);

  &__active {
    --_background-color: var(--_dot-color);
  }

  &:not(&__active) {
    &:hover,
    &:focus-visible {
      --_background-color: hsl(from var(--_dot-color) h s l / 50%);
    }
  }

  &__pending {
    animation: blinker 1s linear infinite;
  }

  &__sm {
    --_size: 10px;
  }

  &__md {
    --_size: 15px;
  }
}

.dot {
  // display: inline-block;
  width: var(--_size);
  height: var(--_size);
  border-radius: var(--br-circle);
  background-color: var(--_background-color);
}
